

#single-business-top-images {
    z-index: 0;
    position: absolute;
    width: 100%;
}

#single-business-top-header div {
    color: white;
  }

#single-business-top-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 412px;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}


.single-business-display-reviews-list {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
}
