.previw_stars_container{
    display: flex;
    align-items: center;
}

.previw_stars_container p{
    margin-left: 3px;
    font-weight: bold;
}
.stars{
    background-color: rgb(209, 207, 207);
}
.stars1{
    background-color: #ebcc68;
}
.stars2{
    background-color: #ffb700;
}
.stars3{
    background-color: #DF8E1C;
}
.stars4{
    background-color: #E76B22;
}
.stars5{
    background-color: #dd1c1c;
}

.halfstar1 {
    background-image: linear-gradient(90deg, #ffb700 50%, transparent 50%);
}
